# frontend ignored folders
front/node_modules/
front/private

.vscode
.idea/

# backend ignored folders
back/.idea/
back/node_modules/

# Maven
back/.mvn
back/.mvn-classpath
back/pom.xml.bak
back/target

node_modules/

#playwright 
test-results/
