# frontend ignored folders
front/node_modules/

.vscode
.idea/

# backend ignored folders
back/.idea/
back/node_modules/

# Maven
back/.mvn
back/.mvn-classpath
back/pom.xml.bak

node_modules/

#playwright 
test-results/
