.dashboard-body {
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("/src/assets/backgrounds/gradient2.png");
  background-size: cover;
  background-position: center;
}

.user-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.756);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
  padding: 0px;
}

.join-time {
  margin-left: 30px;
}

.pending-container {
  width: 100px; /* for the text to not flicker */
  white-space: nowrap;
  justify-content: right;
  align-items: flex-end;
  margin-right: 45px;
}

.pending {
  display: flex;
  flex-direction: row;
}

.dashboard-container {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(15px);
  height: 82vh;
  width: 75vw;
  border-radius: 30px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}
