.dashboard-body {
  margin-top: -10px;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 110vh;
  width: 100vw;
  /* background-image: url("/src/assets/backgrounds/gradient3.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center; */
}

.user-header {
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.859);
  box-shadow: 0 0 10px 0px rgb(0, 0, 0);
  margin-bottom: 50px;
  padding: 0px;
}

.join-time {
  margin-left: 30px;
}

.pending-container {
  width: 100px; /* for the text to not flicker */
  white-space: nowrap;
  justify-content: right;
  align-items: flex-end;
  margin-right: 45px;
}

.pending {
  display: flex;
  flex-direction: row;
}

.dashboard-container {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(15px);
  height: 76vh;
  width: 75vw;
  border-radius: 30px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.welcome-container {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* .welcome-container img {
  height: 25px;
  width: auto;
  margin-left: 10px;
}

.welcome-container img:hover {
  height: 32px;
  width: auto;
  transition-duration: 0.5s;
} */

/* resources icon */
.resources {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.resources-icon {
  width: 30px;
  height: 30px;
  transition: 0.2s linear;
}

.resources:hover > .resources-icon {
  transform: scale(1.1);
}

/* end of icon content */

.other-partner-info {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  align-content: center;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 1080px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
}

.other-partner-info p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.other-partner-info p b {
  animation: fadeIn 2s ease; /* You can adjust the duration and timing function */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.debugging-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  width: 1080px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
  margin-top: 30px;
}

.debugging-process,
.bug-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 800px;
  margin-left: 0px;
  padding-left: 120px;
  padding-right: 120px;
}

.debugging-form input {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #c8c8c8;
  padding-bottom: 5px;
  font-size: 16px;
  color: #000000;
}

.debugging-form input::placeholder {
  color: #c8c8c8;
}
